nav{
    width:100%;
    background:#01455f;
    height:100px;
}
nav ul{
    float:right;
    display:flex;
    margin-top:2%;
    margin-right:3%;
}
nav ul li{
    margin-left:25px;
    list-style:none;
}
nav ul li a:hover{
    background:#fff;
    color:#000;
}
nav ul li a{
    color:#fff;
    text-decoration:none;
    padding:10px 30px;
    border:2px solid #fff;
    transition:1s ease;
}

/*==============FOURTH TITLE=================*/
#header-2{
    margin-top:5%;
}
#header-2 h2{
    font-size:50px;
    text-align:center;
    color:#236f8d;
}


#container-1{
    margin-top:9%;
}
#image-5 img{
    width:35%;
    height:150px;
    border-radius:40%;
    margin-left:32%;
}
#row-3{
    justify-content:center;
}
#image-5 h3, p{
    color:#000;
    text-align:center;
}
#image-5 h3{
    margin-top:4%;
}
#image-5 p{
    font-size:18px;
    color:#808080;
}



#footer{
    border:2px solid #000;
    height:700px;
    background:#000;
    margin-top:7%;
}
#footer h1{
    border:2px solid #000;
    margin-left:7%;
    color:#ffff00;
    font-size:45px;
}
#footer h2{
    border:2px solid #000;
    margin-left:7%;
    color:#fff;
    font-size:19px;
}
#row-5{
    border:2px solid #000;
    margin-top:10%;
    justify-content:space-evenly;
}
#user h2{
    width:100%;
    margin-left:-1%;
    color:#87ceeb;
    margin-left:25%;
}
#user h4{
    font-size:12px;
    color:#F5F5F5;
    margin-left:25%;
}
#user h3{
    font-size:23px;
    color:rgb(190, 66, 190);
    margin-left:25%;
}